<script src="/js/chart-logic.js" defer></script>
<canvas id="barChart" data-chart-data='<%- JSON.stringify(chartData) %>'></canvas>
<div id="reportTableContainer">
</div>
<a href="/" class="btn btn-back">Volver al inicio</a>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>