<!DOCTYPE html>
<html lang="en">
<%- include('partials/heads', { title: title }) %>
<body>
  <script src="/js/chart-logic.js" defer></script>
  <div class="container">
    <canvas id="barChart" data-chart-data='<%- JSON.stringify(chartData) %>'></canvas>
    <div id="reportTableContainer">

    </div>
    <a href="/" class="btn btn-back">Volver al inicio</a>
  </div>
  
</body>
</html>