<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css"> 
</head>
<body>
    <div class="container">
      <%- include('partials/messages') %>
        <h1><%= title %></h1>
        
        <% if (customers && customers.length > 0) { %>
            <%- include('partials/_customers-table', { customers: customers }) %>
        <% } else { %>
            <p>No se encontraron clientes.</p>
        <% } %>
      <a class="btn" href="/">Volver al inicio</a>
    </div>
</body>
</html>