<!DOCTYPE html>
<html lang="en">
<%- include('partials/heads', { title: title }) %>
<body>
  <div class="container">
    <%- include('partials/messages') %>
    <h1>Bellamoda</h1>
    <p>This is the home page.</p>
      <a class="btn" href="/customers/create">Agregar cliente</a>
      <a class="btn" href="/customers/search">Buscar Cliente</a>
      <a class="btn" href="/customers">Mostrar clientes</a>
      <a class="btn" href="/zones">Gestionar Zonas</a>
  </div>
</body>
</html>
