<!DOCTYPE html>
<html lang="en">
<%- include('partials/heads', { title: title }) %>
<body>
  <div class="container">
    <%- include('partials/messages') %>
    <h1>Gestión de Clientes</h1>
    <div class="button-group">
      <a class="btn" href="/customers/create">Agregar cliente</a>
      <a class="btn" href="/customers/search">Buscar Cliente</a>
      <a class="btn" href="/customers">Mostrar clientes</a>
      <a class="btn" href="/zones">Gestionar Zonas</a>
      <a class="btn" href="/report/2024">Ver Reporte 2024</a>
    </div>
  </div>
</body>
</html>
