<h1 class="my-4 text-center text-primary">Gestión de Clientes</h1> 
<div class="d-flex gap-2 mb-4 flex-wrap justify-content-center"> 
  <a class="btn btn-primary" href="/customers/create">Agregar cliente</a>
  <a class="btn btn-primary" href="/customers/search">Buscar Cliente</a>
  <a class="btn btn-primary" href="/customers">Mostrar clientes</a>
  <a class="btn btn-primary" href="/transactions">Ingresar Movimientos</a>
  <a class="btn btn-primary" href="/zones">Gestionar Zonas</a>
  <a class="btn btn-primary" href="/report/2024">Ver Reporte 2024</a>
</div>