<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <%- include('partials/messages') %>
    <h1>Bellamoda</h1>
    <p>This is the home page.</p>
      <a class="btn" href="/customers/create">Agregar cliente</a>
      <a class="btn" href="/customers/search">Buscar Cliente</a>
      <a class="btn" href="/customers">Mostrar clientes</a>
      <a class="btn" href="/zones">Gestionar Zonas</a>
  </div>
</body>
</html>
