<!DOCTYPE html>
<html lang="en">
<%- include('partials/heads', { title: title }) %>
<body>
  <div class="container">
    <form action="/login" method="post">
      <%- include('partials/messages') %>
      <h2>Login</h2>
      <label for="username">Usuario:</label>
      <input type="text" id="username" name="username" required autofocus>
      <label for="password">Contraseña:</label>
      <input type="password" id="password" name="password" required>
      <button type="submit">Iniciar Sesión</button>
    </form>
  </div>
</body>
</html>