<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Setup</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <%- include('partials/messages') %>
    <form action="/setup" method="post">
      <h2>Setup Usuario</h2>
      <label for="username">Usuario:</label>
      <input type="text" id="username" name="username" required>
      <label for="password">Contraseña:</label>
      <input type="password" id="password" name="password" required>
      <button class="btn btn-primary" type="submit">Crear Usuario</button>
    </form>
  </div>
</body>
=======
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Setup</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <%- include('partials/messages') %>
    <form action="/setup" method="post">
      <h2>Setup Usuario</h2>
      <label for="username">Usuario:</label>
      <input type="text" id="username" name="username" required>
      <label for="password">Contraseña:</label>
      <input type="password" id="password" name="password" required>
      <button class="btn btn-primary" type="submit">Crear Usuario</button>
    </form>
  </div>
</body>
>>>>>>> 30106938222b6e29ea7510cba6c54322ea4978b4
</html>