<div class="container-lg">
  <h2>Ingresar Movimiento</h2>
  <input type="text" id="customer-search-input" class="form-control-lg w-100" placeholder="Buscar cliente por nombre o ID">
  <div id="customer-search-results" class="dropdown-menu" ></div>
</div>
<div class="transaction-form-container">
  <p id="p-customer-selection">Busque y seleccione un cliente para ingresar la transacción.</p>
</div>
<%- include('partials/_transaction-form') %>
<a href="/" class="btn btn-back">Volver al inicio</a>
<script src="/js/transaction.js"></script>