<div class="container">
  <input type="text" id="customer-search-input" placeholder="Buscar cliente por nombre o ID">
  <div id="customer-search-results" class="dropdown-menu" ></div>
</div>
<div class="transaction-form-container">
  <p>Busque y seleccione un cliente para ingresar la transacción.</p>
</div>
<a href="/" class="btn btn-back">Volver al inicio</a>
<script src="/js/transaction.js"></script>