<% if (zones && zones.length > 0) { %>
  <%- include('partials/_customer-form', { customer: customer, zones: zones }) %>
<% } else { %>
  <p>No hay zonas disponibles. Por favor, cree una zona antes de agregar o actualizar un cliente.</p>
  <a href="/zones" class="btn">Crear Zona</a>
  <a href="/" class="btn btn-back">Volver al inicio</a>
<% } %>