<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <%- include('partials/messages') %>
    <h2>Crear Nueva Zona</h2>
    <%- include('partials/_zone-form', {zone: zone}) %>
    <% if (zones && zones.length > 0) { %>
      <h2>Zonas Existentes</h2>
      <%- include('partials/_zones-table', { zones: zones }) %>
    <% } %>
  </div>
</body>
</html>