<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre de la Zona</th>
      <th class="text-center">Acciones</th>
      <th class="text-center">Hoja de ruta</th>
    </tr>
  </thead>
  <tbody>
    <% zones.forEach(zone => { %>
      <tr>
        <td><%= zone.id %></td>
        <td><%= zone.name %></td>
        <td class="text-center">
          <a class="btn btn-primary" href="/zones/update/<%= zone.id %>">Modificar</a>
        </td>
        <td class="text-center">
          <a class="btn btn-primary" href="/zones/roadmap/<%= zone.id %>">Ver</a>
        </td>
      </tr>
    <% }); %>
  </tbody>
</table>