<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre de la Zona</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% zones.forEach(zone => { %>
      <tr>
        <td><%= zone.id %></td>
        <td><%= zone.name %></td>
        <td>
          <a href="/zones/update/<%= zone.id %>">Modificar</a>
      </tr>
    <% }); %>
  </tbody>
</table>